$status: (
  process: #799bd0,
  process-light: #ecF3fa,
  done: #29b88f,
  done-light: #b4e6d8,
  alert: #ec9422,
  alert-light: #f8dab3,
  error: #f55753,
  error-light: #fcc5c4
);
$gray-scale: (
  black: #000,
  gray-80: #333,
  gray-60: #666,
  gray-40: #a6a7a7,
  gray-30: #dfe1e2,
  gray-20: #edf0f1,
  white: #fff
);
